[submodule "ws_robot/src/aws-robomaker-small-warehouse-world"]
	path = ws_robot/src/aws-robomaker-small-warehouse-world
	url = https://github.com/aws-robotics/aws-robomaker-small-warehouse-world.git
	branch = ros2
[submodule "ws_robot/src/livox_ros_driver2"]
	path = ws_robot/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
