build
install
log
.vscode
.vscode/settings.json
CMakeLists.txt.user
*.kdev4
.cache
.idea
__pycache__/
script/__pycache__/
*.pyc
__pycache__/__init__.cpython-38.pyc
script/__pycache__/__init__.cpython-38.pyc
**/__pycache__
